<ion-content class="ion-padding" style="background-color: aqua;">
  <div class="title">
    <h4>Info</h4>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col align-center>
        <p>--Tài khoản: suppersun1177@gmail.com--</p>
        <p>--Chi tiết--</p>
        <h1>Số tiền còn lại: 1.500.000</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-margin-top">
    <ion-button expand="block" routerLink="/info">Sửa</ion-button>
    <ion-button expand="block" routerLink="/info">Xóa</ion-button>

  </div>

  <div class="ion-margin-top ion-text-center" routerLink="/main">
    <a >Close</a>
  </div>
</ion-content>