<ion-content class="ion-padding" style="background-color: aqua;">
  <div class="title">
    <h4>Re-Password</h4>
    <p>Reset Your Password</p>
  </div>

  <ion-input placeholder="Email" class="primary-input"></ion-input>
  <small>
    Please provide the username or email address that you used when you signed
    up for your Evernote account.
  </small>

  <div class="ion-margin-top">
    <ion-button expand="block" routerLink="/home">Send</ion-button>

  </div>

  <div class="ion-margin-top ion-text-center">
    <a routerLink="/home">Close</a>
  </div>
</ion-content>