<ion-header>

</ion-header>

<ion-content class="ion-padding ion-text-center" color="primary">
    <img src="../../assets/logo.png" class="logo" />

    <div class="title">
        <h2>Welcome to ATM</h2>
        <p>Enjoy the My first app</p>
    </div>

    <div class="ion-margin-top">
        <ion-button expand="block" class="ion-margin-top"  fill="outline" color="white" routerLink="/register">SIGN UP</ion-button>
        <ion-button expand="block" class="ion-margin-top"  color="white" routerLink="/login">LOGIN</ion-button>
    </div>
</ion-content>